.site-categories-overview {
width: 100vw;
margin-top: 20vh;
  height: 80vh;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index:999;
.site-category-overview-rows {
        display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
$element-square-side-normal: 15vmin;  
$element-square-side-large: 24vmin;
span {  
width: $element-square-side-normal;
height: $element-square-side-normal;
}
span:nth-child(odd) {
  
position: relative;
svg { 
  
  position: absolute;
  top:0;
  circle {
stroke:mix(rgb(255,139,69), rgba(249,244,242,0.8), 70%);
fill:transparent;
stroke-width: 2;
$radius-of-circle: ($element-square-side-normal * 49.5)/100 ;
$circumference-of-circle: 2 * 3.14159 * $radius-of-circle ;
stroke-dasharray: $circumference-of-circle $circumference-of-circle;
stroke-dashoffset: $circumference-of-circle;
animation: dash-circle 5s linear forwards;
  }
 @keyframes dash-circle {
  to {
    stroke-dashoffset: 0;
    fill: mix(rgb(255,139,69), rgba(249,244,242,0.8), 70%);
  }
}
}
}
#my-december {
width: $element-square-side-large;
height: $element-square-side-large;
svg { 
  circle {
    $radius-of-circle: ($element-square-side-large * 49.5)/100 ;
$circumference-of-circle: 2 * 3.14159 * $radius-of-circle ;
stroke-dasharray: $circumference-of-circle $circumference-of-circle;
stroke-dashoffset: $circumference-of-circle;
  }
}
}
.category-information {
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  .navigation-sign {
   font-size: 4vmin;
     z-index:1;
  }
  .navigation-text {
  font-size:2vmin;
  z-index:1;
 a {
    text-decoration: none;
  }
  a:link, a:visited, a:hover {
text-decoration: none;
color: inherit;
  }
  }
 
  
}
span:nth-child(even) {
svg {
line {
stroke:mix(rgb(255,139,69), rgba(249,244,242,0.8), 70%);
stroke-width:2;
stroke-dasharray: 100%;
stroke-dashoffset: 100%;
animation: dash 5s linear forwards;
}
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

}
}
}