#sidebar-v1
{
border-radius: 1px;
border: 2px solid #334C58;
background : url('/img/lot/graphy.png');
padding: 15px;
margin-top: 0vh;
margin-bottom: 10vh;
}
.gadget-title
{
font-family: 'Fjalla One', sans-serif;
font-size: 10vmax;
text-align: left;
}
.gadget-title-sidebar
{
font-family: 'Fjalla One', sans-serif;
font-size: 2vmax;
text-align: left; 
}
.gadget-title a:link, .gadget-title-sidebar a:link
{
color: #3B4343 !important;
text-decoration: none;
}
.gadget-title a:visited, .gadget-title-sidebar a:visited
{
color: #3B4343 !important;
text-decoration: none;
}
.gadget-title a:hover, .gadget-title-sidebar a:hover
{
color: #1B1B1B !important;
text-decoration: none;
}
.gadget-content
{
font-family: 'Josefin Slab', sans-serif;
font-size: 4vmax;
}

.gadget-content blockquote 
{
    font-size: 2.8vmax;
    font-family: 'News Cycle', sans-serif;
}
.gadget-content-list
{

list-style: none;
margin: 0px;
padding: 0px;
}
.gadget-content-list-items
{
text-decoration: none;
overflow: hidden;
display: inline-block;
}
.gadget-content-list-items a, .gadget-content-list-items a:link, .gadget-content-list-items a:visited
{
text-decoration: none;
font-family: 'Economica', sans-serif;
font-weight: 400 !important;
font-size: 2vmin;
}

.gadget-content-list-items a:hover span{
    text-decoration: none;
font-weight: 700 !important;
background-color: #0bbe4f !important;
}
@media(min-width: $screen-md-min) {
#sidebar-v1
{
margin-top: 20vh;
}
.gadget-title
{
text-align: center;
}
.gadget-content blockquote 
{
    font-size: 1.5vmax;
}
}