 .header-wrapper {
position: fixed;
text-align: center;
height: 20vh;
width: 100%;
@include flexbox();
@include flex-direction(row);
@include justify-content(center);
@include align-items(center);
overflow: auto;
z-index: 1000;
#hamburger-wrap {
 z-index: 1000;
 padding: 0 2vw 0 2vw;
#hamburger-icon {
  list-style: none;
  margin: 0;
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
@include flexbox();
@include flex-direction(column);
@include justify-content(center);
@include align-items(center);
cursor: pointer;
background-color: #7C7D7E;
 transition: all 0.2s ease-in-out;
padding: 25% 0;
position: relative;
  .hamburger-bar {     
     width: 50%;
     height: 2px;
      margin: 3px 0;
    border-radius: 24px;
      background-color: black;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.1s cubic-bezier(0.175, .520, 0.100, 1);
  
}
  #bar-a.first-bar {
 width: 10%;

  }
#bar-b.second-bar {
   width: 25%;

  }
#bar-c.third-bar {
    width: 10%;
 
  }

}
#hamburger-icon.change-colour {
background: #E34968;
}
#hamburger-icon.module-b-change-colour {
background-color: mix(rgb(231,56,68), rgba(252,190,194,0.8), 70%);
}

}
#brand-area-wrap {
@include flexbox();
@include flex-direction(row);
@include justify-content(center);
@include align-items(center);
width: 100%; 

 .brand-area {
@include flexbox();
@include flex-direction(column);
@include justify-content(center);
@include align-items(center);
position: relative;
span {
color: #FAFCFA;  
}
#brand-name {
font-family: 'Love Ya Like A Sister', cursive;
font-size: 8vmin;
}
#brand-tag-line {
font-family: 'Amatic SC', cursive;
font-weight: 700;
font-size: 4vmin;
}
 }
}
 }
.navigation-area{

width: 100%;
height: 100%;

position: fixed;

#navigation-elements {

left: 0;
top: 0;  
height: 100vh;
width: 0%;
opacity: 0;
transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
background: #FAB388;
font-family: 'Amatic SC', cursive;
font-size: 7.5vmin;
ul {
position: absolute;
left: 0;
top: 20vh;  
width: 50%;
    margin: 0 !important;
    padding: 0 !important;
    @include flexbox();
@include flex-direction(column);
@include justify-content(flex-start);
@include align-items(center);
    li {
        list-style-type: none;
        padding: 1vh 1vw;
    }
}
}
#navigation-elements.module-b-color-change {
    background: #FC904E;
}
#navigation-elements.visible-navigationelements {
    opacity: 1;
    width: 50%;
}
}
.visible-navigation-area {
    z-index: 998;
  }
@media(min-width: $screen-sm-min ) {
   .header-wrapper{
    #hamburger-wrap {

#hamburger-icon {
width: 10vmin;
height: 10vmin;
}

}

}
}
@media(min-width: $screen-md-min ) {
  
  .header-wrapper{
    #hamburger-wrap {
padding: 0 2vw 0 2vw;
#hamburger-icon {
width: 8vmin;
height: 8vmin;
}

}

}
.navigation-area{


#navigation-elements {
font-size: 4vmin;
ul {

width: 25%;

}
}
#navigation-elements.visible-navigationelements {
  
  width: 25%;
}
}
}
@media(min-width: $screen-lg-min ) {
  
}