.inpost-title {
border: 4px solid #f2f2f2;
padding: 0.5em;
}

.lot-text{
font-family: 'Walter Turncoat', sans-serif;
font-size: 4.5vmin;
text-align: justify;
margin-left: 1vw;
margin-right: 1vw;
}

.post-text-format{
  text-align: justify;
}
.post-text-format-for-traditional-poems{
  text-align: center;
}
.post-body-question-format{
  font-family: 'Francois One', sans-serif;
}
.post-body-list-container ol{
  padding-left: 5vw;
}
.post-body-list-container ul{
  padding-left: 0px;
}

.post-image-customsize {
  height: inherit;
  width: inherit;
}

.instagram-media {
  margin: 0 auto !important;
}

a.post-page-link
{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Righteous', sans-serif;
  background:#E62E00;
  font-size: 6vmin;
  text-shadow: 0.2vw 0.2vw 1vw  #FF704D;

}
a.post-page-link:visited
{
  color: #FFFFFF;
  text-decoration: none;
  background:#E62E00;

}
a.post-page-link:hover
{
  color: #000000;
  text-decoration: none;
  background:#FFD119;
}

.nav-self-love-link
{
background-color: #000000;
border-radius: 1vmin 1vmin 0 0;
}
@media(min-width: $screen-sm-min) {
    .lot-text{
  font-family: 'Walter Turncoat', sans-serif;
  font-size: 2.5vmin;
  text-align: justify;
  }
  a.post-page-link
  {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Rancho', cursive;
    background:#E62E00;
    font-size: 20pt;
    text-shadow: 1px 1px 5px  #FF704D;
  }
  a.post-page-link:visited
  {
    color: #FFFFFF;
    text-decoration: none;
    background:#E62E00;

  }
  a.post-page-link:hover
  {
    color: #000000;
    text-decoration: none;
    background:#FFD119;
  }
}
 @media(min-width: $screen-md-min) {
     .lot-text{
  font-size: 3.5vmin;
  }
     .post-body-list-container ul{
    padding-left:10vw;
  }
  .post-body-list-container ol{
    padding-left: 10vw;
  }
  .post-image-customsize {
  height: 50%;
  width: 50%;
}
 }