
#home-module-a {

 display: flex;   
 flex-direction: row;
 height: 100vh;
 flex-wrap: wrap; 
 //margin-top: 10vh;
 //background-color: #05A190;
 background: url('/img/lot/main-bg-8-opt.jpg'); 
 //background-size: 1366px 768px;
 background-size: cover;
 background-attachment: fixed;
 //background-position: 10% 10%;
position: relative;
#site-description-navigation {
  margin-top: 20vh;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
}



.brief-introduction {
max-width: 35vw;
margin: 0 5vw 0 5vw;
padding: 4vmin;
background-color: mix(rgba(186,187,188,0.4), rgba(124,125,126,0.8), 50%);
font-size: 1.8vmin;

color: #F7F7F4;

h1 {
  font-family: 'Hammersmith One', sans-serif;
}
p {
  font-family: 'Crete Round', serif;
  span {
    font-size: 3vmin !important;
  }
  filter: blur(4px);

  animation: text_blur 1s cubic-bezier(.93,.26,.54,.74) 0.5ms 1 normal forwards running;
}
transition: all 500ms ease-out;
}
.disappear-description {
transform: translateX(-50%);
opacity: 0;
}
@keyframes text_blur {
0% {

filter: blur(4px);
}
25% {

 filter: blur(3px);
}
50% {

  filter: blur(2px);
}
75% {

  filter: blur(1px);
}
  100% {

filter: blur(0px);
  }
}
.navigation {
width: 35vw;
margin: 0 5vw 0 5vw;
padding: 2.2vmin;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index:999;
span {
  margin: 0 2vw 0 2vw;
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  background-color: mix(rgb(255,139,69), rgba(249,244,242,0.8), 70%);
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya Sans SC', sans-serif;

  .navigation-sign {
   font-size: 4vmin;
   
  }
  .navigation-text {
  font-size:2vmin;
  a {
    text-decoration: none;
     
  }
  a:link, a:visited, a:hover {
text-decoration: none;
color: inherit;


         
  }

  }
  transition: all 300ms ease-out;
}
}
.disappear-navigation {
transform: scale(0);
}
#home-module-b {

 display: flex;   
 flex-direction: row;
 height: 100vh;
 flex-wrap: wrap; 
 //margin-top: 10vh;
 //background-color: #05A190;
 background: url('/img/lot/main-bg-9-opt.jpg'); 
 //background-size: 1366px 768px;
 background-size: cover;
 background-attachment: fixed;
 //background-position: 10% 10%;

#site-description-navigation {
  margin-top: 20vh;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brief-introduction {
  background-color: mix(rgba(229,96,105,0.4), rgba(124,125,126,0.8), 70%);
}
}




#second-site-content-index-wrapper {
 display: flex;   
 flex-direction: row;
 min-height: 30vh;
 flex-wrap: wrap;

}
.site-content-index, .site-content-index-episode-02 {
width: 100vw;
overflow: hidden;
position: relative;
}

@import 'section_overview_modules/section-overview-mixin';
@import 'section_overview_modules/self-love';


@import 'section_overview_modules/my-december';

@import 'section_overview_modules/story-hour';

@import 'section_overview_modules/child-sexual-abuse';

@import 'section_overview_modules/twisted-pov';

@import 'section_overview_modules/general-lot';

@media(min-width: $screen-md-min) {
#first-site-content-index-wrapper {
flex-direction: column;
max-height: 100vh;
min-height: 100vh;
//margin-top: 20vh;
}
#second-site-content-index-wrapper {
flex-direction: column;
max-height: 40vh;
min-height: 40vh;

}
.site-content-index {
width: 33.3vw;
}
.site-content-index-episode-02
{
width: 100vw;
}
}



