* {
  box-sizing: border-box;
}
html, body {
  max-width: 100%;


  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.preload {
*:not(:first-child) {
 -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  animation: none !important;
}
}
.site {

  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  min-height: 100vh; 
    overflow-x: hidden;
    overflow-y: scroll;
  flex-direction: column;
  //background: url('/img/lot/black_linen_v2_@2X.png');
  background: #F3F3F3;
 
}


.main-content {
  display: block;
margin-top: 10vh;  
}
.main-content-default-layout {
  margin-top: 10vh;

     
}
.site-content {
     flex: 1 0 auto;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1 0 auto;/* IE 10 */
     

}
#hideAll
 {
   position: fixed;
   max-height: 100vh;
   width: 100%;
   overflow: hidden !important;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 1001;
   background-image: url('/img/lot/preloader.gif');
   background-repeat: no-repeat;
   background-position: center;
 }
@media (min-width: 768px) {
.main-content {
margin-top: 10vh;
}
.main-content-default-layout {
  margin-top: 10vh;
}
  .site-content {
    margin-left: 0px;
    margin-right: 0px;
   
  }
}
@media (min-width: 992px) {
.main-content {
margin-top: 20vh;
 
}
.main-content-default-layout {
  margin-top: 20vh;
}
  .site-content {
    margin-left: 0px;
    margin-right: 0px;
    
  }

}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.button-animate {
	transition: all 0.3s;
}
.simple-btn {
	display: inline-block;
	line-height: 35px;
	margin: 8px;
	padding: 0 15px;
	font-size: 15px;
	position: relative;
	opacity: .999;
  border-radius: 3px;	
  @extend .button-animate;
}
.simple-btn-border {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #a6a6a6;
  
  &:before,
	&:after {
		content: '';
		border-style: solid;
		position: absolute;
		border-radius: 3px;
    box-sizing: content-box;
    @extend .button-animate;
  }
  &:before {
		width: 0;
		height: 100%;
		border-width: 1px 0px 1px 0;
		top: -1px;
		left: 0px;
		transition-delay: 0.05s;
	}
	
	&:after {
		width: 100%;
		height: 0;
		border-width: 0 1px 0 1px;
		top: 0;
		left: -1px;
  }
  &:hover {
		
		&:before {
			width: 100%;
		}
		
		&:after {
			height: 100%;
		}
	}
	
}