.card-container
{
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: row;
max-height: 250px;
background-color: #ff6f00;
overflow: hidden;
position: relative;
}
.card-main-image
{
overflow: hidden;
min-height: 250px;
width: 250px;
 @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
}
.card-main-text
{
overflow: hiddden;
text-align: justify;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
margin-right: 2vw;
margin-left: 2vw;
margin-top: 1vh;
margin-bottom: 1vh;
max-height: 250px;
//padding-left: 2vw !important;
}

.card-post-title
{
font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 3vmin;
text-align: left;
 @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
}
.card-post-title a:link
{
color: #3B4343 !important;
text-decoration: none;
}
.card-post-title a:visited
{
color: #3B4343 !important;
text-decoration: none;
}
.card-post-title a:hover
{
color: #1B1B1B !important;
text-decoration: none;
}
.card-post-body {
font-family: 'Droid Sans', sans-serif;
font-weight: 400 ;
font-size: 1.5vmin;
overflow: hiddden;
 @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
}

.card-main-text-child-b{
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: 'Ubuntu Condensed', sans-serif;
font-size : 1.4vmin;
}
.card-main-text-child-c{

align-self: flex-end;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: 'Ubuntu Condensed', sans-serif;
font-size : 1.4vmin;
}

.card-post-date span,  .card-read-post-link span {
  border-width: 0.1vmin;
  border-style: solid;
  color: #3B4343;
   @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
}
.card-main-text-child-d  {
  position: absolute;
  opacity: 1;
   @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
  // @include transform(translate3d(0, -500%, 0));
}
.card-post-glyph {
  border-radius: 50%;
  width: 3vmin;
	height: 3vmin; 
  font-size: 2vmin;
  background-color: #FFFFFF;
  text-align: center !important;
   @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
}

 .card-read-post-link a:hover span {
  background-color: #9b3b57;
  color: white;

}

.card-container:hover {
 .card-main-image
{
  transform: scale(1.5);

  @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
}/*
.card-main-text{
  position: relative;
   
}
.card-post-title
{

font-size: 4vmin;
}
.card-post-date, .card-post-glyph {
font-size: 3vmin;



}
.card-post-date {

}
.card-post-glyph {
width: 4vmin;
height: 4vmin; 


}
.card-post-body {
opacity: 0;
}
.card-main-text-child-d  {
position: absolute;
bottom:10%;

font-size: 3vmin;
opacity: 1;
  // @include transform(translate3d(0, -500%, 0));
}
*/
}
/*@media(min-width: $screen-sm-min) {
.card-main-content-item
{
  min-height: 0vh;
  max-height: auto;
}
.card-post-title
{
font-size: 3vmin;
}
.card-post-body {
font-size: 2vmin;

}

.card-main-text-child-c {
font-size : 2.5vmin;
}
}

@media(min-width: $screen-md-min) {

.card-main-content-item
{
max-height:44.5vh;
}
.card-post-title
{

font-size: 5vmin;

}
.card-post-body
{
font-size: 2.5vmin;
}
.card-read-post-link {
font-size : 2vmax;
}
.card-post-date {
font-size : 2vmax;

}
}
*/
