
<main id="home-module-a">

<!--section class="site-content-index site-content-index-item-a">
 Self-love   
    </section-->
<section id="site-description-navigation">
    <div class="brief-introduction">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec in ante id lectus consequat eleifend vitae sit amet nunc. Vestibulum ante ipsum primis in <span>faucibus orci luctus et</span> ultrices posuere cubilia Curae; Mauris feugiat condimentum sem, eget cursus odio placerat ut. Praesent porta elit libero, fermentum convallis massa euismod at. Proin a diam sagittis mi lobortis rhoncus. Praesent varius nisl sit amet lorem auctor tempus. In <span>feugiat</span> dignissim ultricies.</p>

 <p>Sed imperdiet laoreet sapien. Quisque dictum mi porta augue luctus dignissim. Vestibulum accumsan sollicitudin enim. Ut in pellentesque nisi. <span>In vulputate ornare</span> auctor. Integer id vehicula felis. Aliquam sed leo malesuada elit pellentesque tincidunt. Quisque fringilla non odio et aliquet.  <span>Vivamus</span> in fringilla mi. Donec efficitur nibh ac neque convallis, id sodales turpis faucibus. Duis convallis urna est, ut posuere ex venenatis eget. Sed dapibus justo ipsum, vel viverra odio mattis in. Nulla luctus ultrices posuere.</p>
    </div>
  <!--  <div > -->
        <svg class="navigation" x="0px" y="0px"  viewBox="0 0 35vmin 15vmin">
            <circle class="helper-circles" cx="170" cy="50" r="45"/>
             <circle class="helper-circles" cx="170" cy="50" r="45"/>
              <circle class="helper-circles" cx="170" cy="50" r="45"/>
        </svg>
       <!-- <span>
            <i class="navigation-sign glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i>
            <div class="navigation-text">Blog</div>
            
        </span>
        <span>
              <i class="navigation-sign glyphicon glyphicon-flash" aria-hidden="true"></i>
              <div class="navigation-text">Events </div>
    
        </span>
         <span>
           
              <i class="navigation-sign glyphicon glyphicon glyphicon-road" aria-hidden="true"></i>
                 <div class="navigation-text"><a href="/#home-module-b">Explore</a></div>
           
        </span> -->
   <!--   </div> -->
</section>
</main>