     <ul id="landing-page-site-categories-overiew" class="disabler">
        
        <li class="site-category-overview-rows" id="#site-categories-overview-first-segment">
            
            <span>
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-heart" aria-hidden="true"></i>
            <div class="navigation-text">Self Love</div>
 </div>           
        </span>
            <span>
         <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
            <span>
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-random" aria-hidden="true"></i>
            <div class="navigation-text">Twisted POV</div>
 </div>           
        </span>
            <span>
            <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
<span id="my-december">
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49.5%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-bed" aria-hidden="true"></i>
            <div class="navigation-text">My December</div>
 </div>           
        </span>
            <span>
            <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
<span>
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-eye-close" aria-hidden="true"></i>
            <div class="navigation-text">CSA</div>
 </div>           
        </span>
   <span id="short-extender">
            <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
<span id="back">
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
 </div>           
        </span>
        </li>
        
    </ul>