<main id="home-module-a">

    <!--section class="site-content-index site-content-index-item-a">
 Self-love   
    </section-->
    <!--<ul class="site-categories-overview">
        <li class="site-category-overview-rows" id="#site-categories-overview-row-1">
            <span>
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-heart" aria-hidden="true"></i>
            <div class="navigation-text">Self Love</div>
 </div>           
        </span>
            <span>
         <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
            <span>
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-random" aria-hidden="true"></i>
            <div class="navigation-text">Twisted POV</div>
 </div>           
        </span>
            <span>
            <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
<span id="my-december">
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49.5%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-bed" aria-hidden="true"></i>
            <div class="navigation-text">My December</div>
 </div>           
        </span>
            <span>
            <svg height="100%" width="100%">
  <line x1="0" y1="50%" x2="100%" y2="50%" shape-rendering="crispEdges" />
</svg>
        </span>
<span>
                <svg height="100%" width="100%">

    <circle cx="50%" cy="50%" r="49%"/>

</svg>
<div class="category-information" >   
    <i class="navigation-sign glyphicon glyphicon-eye-close" aria-hidden="true"></i>
            <div class="navigation-text">CSA</div>
 </div>           
        </span>

        </li>
        
    </ul>-->
    <section id="site-description-navigation">

    <div class="brief-introduction">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec in ante id lectus consequat eleifend vitae sit amet nunc. Vestibulum ante ipsum primis in <span>faucibus orci luctus et</span> ultrices posuere cubilia Curae; Mauris feugiat condimentum sem, eget cursus odio placerat ut. Praesent porta elit libero, fermentum convallis massa euismod at. Proin a diam sagittis mi lobortis rhoncus. Praesent varius nisl sit amet lorem auctor tempus. In <span>feugiat</span> dignissim ultricies.</p>

 <p>Sed imperdiet laoreet sapien. Quisque dictum mi porta augue luctus dignissim. Vestibulum accumsan sollicitudin enim. Ut in pellentesque nisi. <span>In vulputate ornare</span> auctor. Integer id vehicula felis. Aliquam sed leo malesuada elit pellentesque tincidunt. Quisque fringilla non odio et aliquet.  <span>Vivamus</span> in fringilla mi. Donec efficitur nibh ac neque convallis, id sodales turpis faucibus. Duis convallis urna est, ut posuere ex venenatis eget. Sed dapibus justo ipsum, vel viverra odio mattis in. Nulla luctus ultrices posuere.</p>
    </div>
    <div class="navigation">
       
        <span class="lot-helper-circles">
            <i class="navigation-sign glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i>
            <div id="button-tester" class="navigation-text"><a href="#">Blog</a></div>
            
        </span>
        <span class="lot-helper-circles">
              <i class="navigation-sign glyphicon glyphicon-flash" aria-hidden="true"></i>
              <div class="navigation-text">Events </div>
    
        </span>
         <span class="lot-helper-circles">
           
              <i class="navigation-sign glyphicon glyphicon glyphicon-road" aria-hidden="true"></i>
                 <div class="navigation-text"><a href="/#home-module-b">Explore</a></div>
           
        </span>

    </div>
</section>
</main>