#blog-skeleton-wrapper {
  width: 100%;
  height: 100%;
  .site-section-title{
    height: 6vh;
    text-align: center;
    text-transform: lowercase;
    width: 100%;
    margin-top: 10vh;
    font-family: 'Hammersmith One', sans-serif;
        
        font-size: 4vh;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
span {
  &::before,&::after {
    content: ' / ';
    }

}
    
  }
  .blog-skeleton {
    
    z-index: 997;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh; 
    height: 100%;
    max-width: 100vw;
    perspective: 1200px;
    transform-style: preserve-3d;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 38vh;
    grid-gap: 5vmin;
    grid-auto-flow: dense;
   
    .generic-post-card {
      background-color: #80a6be;
      text-align: center;
      background: url(/img/lot/display-picture.jpg) no-repeat 50% 50%;
      padding: 1vh 0;
      position: relative;
      border-radius: 2.5px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      cursor: pointer;
      .display-text {
        height: 100%;
        width: 100%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(center);
        position: relative;
        .display-text-title-and-author {
          margin: 1em;
          .display-text-title {
           
            svg {
              fill: #fcd0b4 !important;
            }
            font-family: 'Fjalla One',
            'Teko',
            sans-serif;
            font-weight: 600;
            color: #fcd0b4;
            font-size: 1.25em;
          }
          .dash {
            background-color: #fab565;
            margin: 1vh auto;
            height: 4px;
            width: 10vw;
          }
          .display-text-author {
            font-family: 'Fjalla One', 'Teko', sans-serif;
            color: #fcd0b4;
            font-weight: 400;
            font-size: 1em;
          }
        }
        .display-text-info {
          width: 100%;
          position: absolute;
          bottom: 20%;
          margin: 0 auto;
          padding: 0 50px;
          color: whitesmoke;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
          opacity: 0;
          transition: bottom .3s, opacity .3s cubic-bezier(.33, .66, .66, 1);
          
          .simple-btn-border {
            &:before,&:after {
          border-color: #363636;
         }
        &:hover{
          color: #363636;
        }
          }
        }
       
        .display-text-date {
          padding: 1vmin;
          margin: 1vmax;
          font-family: 'Fjalla One', sans-serif;
          color: #251414;
          align-self: flex-start;
          background-color: #fc7323;
          height: 10vmax;
          width: 10vmax;
          border-radius: 50%;
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          .month,
          .year {
            font-size: 0.75em;
          }
          .date {
            font-size: 1em;
            font-weight: bold;
          }
        }
     
      } 
      .gradient-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 2.5px;     
        background: transparent;
        transition: background .3s cubic-bezier(.33, .66, .66, 1);
               }
      &:hover{
        .display-text {
          .display-text-info {
            opacity: 1;
            bottom: 30%;
            z-index: 998;
        }
      }
      .gradient-overlay {
        background: linear-gradient(180deg, rgba(255,174,108,1) 0%, rgba(223,116,0,0.5662464815027574) 100%); 
       }
    }

  }
    .generic-post-card:nth-child(5n+1) {
      padding: 2vh 0;
      background: url(/img/the-story-hour/display-picture.jpg) no-repeat !important;
      grid-row: span 2;
      .display-text {
        .display-text-title-and-author {
          .display-text-title {
            svg {
              fill: #12415e !important;
            }
            font-size: 2em !important;
            color: #12415e !important;
          }
          .dash {
            background-color: #36a9f0;
          }
          .display-text-author {
            color: #12415e !important;
            font-size: 1em;
          }
        }
        .display-text-info {
          bottom: 30%;
        }
        .display-text-date {
          background-color: #6399bd !important;
        }
      }
      &:hover {
        .display-text {
          .display-text-info {
            opacity: 1;
            bottom: 40%;
            z-index: 998;
        }
      }
        .gradient-overlay {
          background: linear-gradient(180deg, rgba(205,237,246,1) 0%, rgba(18,94,98,0.5662464815027574) 100%);
         }
      }
    }
  }
}


@media(min-width: $screen-md-min ) {
  #blog-skeleton-wrapper {
    .blog-skeleton {
      margin-left: 2vw;
      margin-right: 2vw;
      grid-gap: 4vmin;
      .generic-post-card {
        .display-text {
          .display-text-title-and-author {
            .dash {
              height: 4px;
            width: 5vw;
            }
          }
          .display-text-date  {
            
          margin: 1vmin;
            height: 10vmin;
          width: 10vmin;
          }
          
        }
      }
    }
  }
}
.post-list-icon {
  height: 1em;
  width: 1em;
}

