#blog-page {
    background: #125eda;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
}
.blog-skeleton {
    z-index: 997;
    margin-top: 15vh;
    width: 100vw;
    height: 75vh;
    position: relative;
    overflow: hidden;
    perspective: 1200px;
    transform-style: preserve-3d;
   
    #blog-cards-wrapper {
        z-index: 997;
        width: 100vw;
        height: 75vh;
        position: absolute;
       
    .blog-cards-super-set {
      position: absolute;
       bottom: 0;
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(flex-start);
        @include align-items(center);
        @include flex-wrap(wrap);
        //margin-bottom: 75vh;
        height: 75vh;
        padding: 5vh 5vw;
        transform: translate3d(0, 0, 0);
        //background-color: rgb(167, 137, 137);
        @include transition(all .7s ease);
    .generic-post-card {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-end);
        @include align-items(space-around);
        @include flex-wrap(wrap);
        background-color: gainsboro;
        padding: 2vmin;
    }
    
.featured-blog-post-cards {
width:30vw;
height: 70vh;
    
.featured-blog-post-cards-title {
    font-size: 16pt;
}
    }
    .normal-blog-post-cards{
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(flex-start);
        @include align-items(space-evenly);
        @include flex-wrap(wrap);
        
        width: 60vw;
        height: 70vh;
        .general-blog-post-cards:nth-child(n+3) {
         margin-top: 2vh;
        }
        .general-blog-post-cards {  
            margin-left: 2vw;
            width: 25vw;
            height: 34vh;
            overflow: hidden;
             .general-blog-post-cards-title {
                font-size: 16pt;
            }
            }
    }
   
    }
    .blog-cards-super-set:first-child {
        z-index: 997;
    }
    .blog-cards-super-set:not(:first-child) {
        z-index: 0;
    }
    .set-animation{
        
        @include animation(scaleDown 1s cubic-bezier(.17,.67,.37,.92) both);
    }
    @include keyframes(scaleDown) {

        to { opacity: 0;
        
            transform: scale(.8); }
    }
    .set-animation-up{
     @include animation(scaleUp 1s cubic-bezier(.17,.67,.37,.92) both);
    }
    @include keyframes(scaleUp) {

        from { opacity: 0; 
           
            transform: scale(1.4); }
    }
   
}
}
.pager {
    height: 5vh;
    z-index: 997;
    li {
        padding: 1vmin;
        background-color: #bdbcbb;
        cursor: pointer;
    }
}
