<header class="header-wrapper">
<div id="hamburger-wrap">  
<div class="lot-icon" id="hamburger-icon">
    <div class="hamburger-bar" id="bar-a"></div>
    <div class="hamburger-bar" id="bar-b"></div>
    <div class="hamburger-bar" id="bar-c"></div>
</div>
</div>  
 <div id="brand-area-wrap">     
<div class="brand-area"> 
<span id="brand-name">LEAN ON TREE</span>
<span id="brand-tag-line">it's a story. it's life. your's and mine</span>
</div>
</div>
</header>
  <div class="navigation-area">

<nav id="navigation-elements">
     
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
      <li>Help</li>
    </ul>
  
</nav>
</div>
