
<div id="sidebar-v1">
<div class="tags-random">
<p class="gadget-title-sidebar"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Site Tags</p>
<div class="gadget-content-sidebar">
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<ul class="gadget-content-list">
{% for elements in tag_words %}
<li class="gadget-content-list-items"><a href="/tag/{{ elements }}" id="tag-listing" value="{{ elements }}" ><span class="label label-bleed-blue" style="font-size: 12pt;">{{ elements }}</span></a></li>
{% endfor %}
</ul>
</div></div>
<br/><br/>
<div class="blog-subscription">
  <a class="rss-feed-subscription-icon-link" href="/feed.xml"><p class="gadget-title-sidebar"><i class="rss-feed-icon-sidebar"></i>&nbsp;Subscribe to our RSS Feed!</p></a>
</div>
</div>
