@mixin box-shadow($box-shadow_argments...) {
    -webkit-box-shadow: $box-shadow_argments; 
-moz-box-shadow: $box-shadow_argments; 
-ms-box-shadow: $box-shadow_argments; 
-o-box-shadow: $box-shadow_argments; 
box-shadow: $box-shadow_argments; 
}

@mixin border-radius($border-radius_argments...) {
    -webkit-border-radius: $border-radius_argments; 
-moz-border-radius: $border-radius_argments; 
-ms-border-radius: $border-radius_argments; 
-o-border-radius: $border-radius_argments; 
border-radius: $border-radius_argments; 
}
 // Flexbox Mixins
 @mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($flex_argments...) {
    -webkit-flex: $flex_argments; 
-moz-flex: $flex_argments; 
-ms-flex: $flex_argments; 
-o-flex: $flex_argments; 
flex: $flex_argments; 
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
  	     -ms-flex-order: $val;     
  	      -webkit-order: $val;  
  		      order: $val;
}

@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}
@mixin animation($animation_argments...) {
-webkit-animation: $animation_argments; 
-moz-animation: $animation_argments; 
-ms-animation: $animation_argments; 
-o-animation: $animation_argments; 
animation: $animation_argments; 
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($transformstyle) {
-webkit-transform: $transformstyle; 
-moz-transform: $transformstyle; 
-ms-transform: $transformstyle; 
-o-transform: $transformstyle;
transform: $transformstyle;
}

@mixin transition($transition_arguments...) {
-webkit-transition: $transition_arguments; 
-moz-transition: $transition_arguments; 
-ms-transition: $transition_arguments; 
-o-transition: $transition_arguments; 
transition: $transition_arguments; 
}