---
title: LeanOnTree - Blog
layout: blog
svg-icon-sprite-sheet: "/assets/svg/site-icon-sprite.svg"
---
{% include navigation/mini.html %}
<div id="blog-skeleton-wrapper">
<div id="blog-cards-skeleton" class="blog-skeleton">
{% for post in site.posts %}

<div class="generic-post-card">
        
        
        <div class="display-text">
        <div class="display-text-title-and-author">
        <span class="display-text-title">
        <svg class="lamp-icon"><use xlink:href="{{ page.svg-icon-sprite-sheet }}#lamp-icon"></use></svg> {{ post.title | upcase  }}</span>
        <div class="dash"></div>
        <span class="display-text-author">{{ post.author | upcase}}</span>
        </div>
        <span class="display-text-date">{{ post.date | date_to_string }}</span>
        
        </div>

</div>
{% endfor %}
</div>
</div>
    