---
title: LeanOnTree - Blog
layout: blog
---
{% include navigation/mini.html %}
<div class="page-wrapper">
<div id="blog-cards-skeleton" class="blog-skeleton">
<div id="blog-cards-wrapper">
{% for post in site.posts %}
{% assign everyfifthElement = forloop.index0 | modulo: 5 %}
{% if everyfifthElement == 0 %}
{% if forloop.first == false %}
</div>
</div>

{% endif %}
<div id="blog-cards-super-set-{% increment counter %}" class="blog-cards-super-set">
<div class="featured-blog-post-cards generic-post-card">
        <span class="featured-blog-post-cards-date">{{ post.date | date_to_string }}</span>
        <span class="featured-blog-post-cards-title">{{ post.title }}</span>
        <span class="featured-blog-post-cards-description">{{ post.description }}</span>
</div>
<div class="normal-blog-post-cards">
{% else %}
<div class="general-blog-post-cards generic-post-card">
        <span class="general-blog-post-cards-date">{{ post.date | date_to_string }}</span>
        <span class="general-blog-post-cards-title">{{ post.title }}</span>
        <span class="general-blog-post-cards-description">{{ post.description }}</span>
</div>
{% endif %}
{% if forloop.last == true %}
</div>
</div>

{% endif %}
{% endfor %}
</div>
</div>
<ul class="pager">
        <li id="pager-previous">&#x0003C;</li>
        <li id="pager-next">&#x0003E;</li>
      </ul>
<div class="svg-background-circle-container">
<svg height="100%" width="100%">
   <circle class="svg-background-circle" cx="0" cy="0" r="50%" />
</svg>
</div>     
</div>      