
<nav id="navigation-elements" class="navigation-elements">
         
    <ul>
      <li><a href="/"><svg class="nav-icon nav-home"><use xlink:href="#nav-home"></use></svg>Home</a></li>
      <li><a href="#"><svg class="nav-icon nav-about"><use xlink:href="#nav-about"></use></svg>About</a></li>
      <li><a href="#"><svg class="nav-icon nav-initiatives"><use xlink:href="#nav-initiatives"></use></svg>Initiatives</a></li>
      <li><a href="#"><svg class="nav-icon nav-contact"><use xlink:href="#nav-contact"></use></svg>Contact</a></li>
 
    </ul>

</nav>
<div class="menu-toggle" id="menu-toggle">  
  <div class="hamburger">
    
  </div>
   </div>  