<ul id="landing-page-site-categories-overiew" class="disabler">

    <li class="site-category-overview-fragment">

       
        <div class="category-information">
            <svg class="category-information-icon">
                <use xlink:href="#heart"></use>
        </svg>
            <div class="navigation-text">Self Love</div>
        </div>

    </li>
    <li class="site-category-overview-fragment">

           <div class="category-information">
            <i class="navigation-sign glyphicon glyphicon-random" aria-hidden="true"></i>
            <div class="navigation-text">Twisted POV</div>
        </div>

    </li>

    <li class="site-category-overview-fragment" id="my-december">
   
        <div class="category-information">
            <i class="navigation-sign glyphicon glyphicon-bed" aria-hidden="true"></i>
            <div class="navigation-text">My December</div>
        </div>
    </li>
 
    <li class="site-category-overview-fragment">

        <div class="category-information">
            <i class="navigation-sign glyphicon glyphicon-eye-close" aria-hidden="true"></i>
            <div class="navigation-text">CSA</div>
        </div>
    </li>

    <li class="site-category-overview-fragment" id="back">

        <div class="category-information">
            <svg class="category-information-icon">
                <use xlink:href="#lamp"></use>
        </svg>
            <div class="navigation-text">Story Hour</div>
        </div>

    </li>
    <li class="site-category-overview-fragment" >

        <div class="category-information">
            <i class="navigation-sign glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
        </div>

    </li>
    <li class="site-category-overview-fragment" >

        <div class="category-information">
            <i class="navigation-sign glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
        </div>

    </li>

</ul>