@mixin animation($animation_argments...) {
-webkit-animation: $animation_argments; 
-moz-animation: $animation_argments; 
-ms-animation: $animation_argments; 
-o-animation: $animation_argments; 
animation: $animation_argments; 
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($transformstyle) {
-webkit-transform: $transformstyle; 
-moz-transform: $transformstyle; 
-ms-transform: $transformstyle; 
-o-transform: $transformstyle;
transform: $transformstyle;
}

@mixin transition($transition_arguments...) {
-webkit-transition: $transition_arguments; 
-moz-transition: $transition_arguments; 
-ms-transition: $transition_arguments; 
-o-transition: $transition_arguments; 
transition: $transition_arguments; 
}