.label-flat-lot {
display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: 700;
 line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

}
a.label-flat-lot:focus,
a.label-flat-lot:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label-flat-lot:empty {
    display: none
}
.label
{
font-weight: normal !important;
}
.label-shade-of-red
{
background-color:#ff1a1a;
}
.label-black
{
background-color:#000000;
}
.label-bleed-blue
{
background-color:#1A334C;
}
.label-bleed-orange
{
background-color:#CC5200;
}
.label-bleed-not-so-red
{
background-color:#993030;
}
.label-bleed-red
{
background-color:#CC0000;
}
.label-bleed-grey
{
background-color:#8c8c8c;
}
.label-custom
{
    display: inline-block;
    max-width: 100%;
    
}