.label
{
font-weight: normal !important;
}
.label-shade-of-red
{
background-color:#ff1a1a;
}
.label-black
{
background-color:#000000;
}
.label-bleed-blue
{
background-color:#1A334C;
}
.label-bleed-orange
{
background-color:#CC5200;
}
.label-bleed-not-so-red
{
background-color:#993030;
}
.label-bleed-red
{
background-color:#CC0000;
}
.label-bleed-grey
{
background-color:#8c8c8c;
}
.label-custom
{
    display: inline-block;
    max-width: 100%;
    
}