.page-header
{
background: url('/img/lot/px_by_Gre3g.png');
padding-bottom: 0px !important; /*overidding the default value in template which is 9px*/
}
.post-heading
{
  padding-bottom: 2vh;
  color: #000000;
  background: #FFCC00;
  text-shadow: 0px 0.1vmin 0.3vmin #FFFF33;
  }
.post-title-post-layout
{
margin-top: 3vh;
margin-bottom: 0vh;
font-family: 'Oswald', sans-serif;
font-size: 10vmin;
text-align: center;
}

.post-body-post-layout {
font-family: 'Droid Sans', sans-serif;
font-weight: 400;
font-size: 5vmin;
margin-left: 2vw;
margin-right: 2vw;
color: #FFFFFF;
}

#post-sub-text{
  padding-bottom: 1em;
  padding-top: 1em;
}
.contributor_picture{
  width: 20vw;
	height: 20vw;
  border-radius: 20vw;
	-webkit-border-radius: 20vw;
	-moz-border-radius: 20vw;
	background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  float:left;
}
#author-and-date{
padding: 0px;
margin: 0px;
}
#author-and-date ul{
  list-style-type: none;
  text-align: center;
}
#author-and-date li{
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #FFFFFF;
}

.previous-post
{
  text-align: left;

}
.next-post
{
  text-align: right;
}

#tag-container ul
{
  font-family: 'Oswald', sans-serif;
  font-size: 6vmin;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#tag-container li
{
display: inline-block;
margin-bottom: 2vmin;
}

#social-sharing-request{
  text-align:center;
  font-family:'Pacifico',sans-serif;
  font-size:4.8vmin;
  color:#FF9933;
}
.post-body .separator .img-responsive {
    margin: 0 auto;
}

@media(min-width: $screen-sm-min) {

    .post-title-post-layout
  {
   margin-top: 1vh;
   font-size: 8vmin;
  }
  .post-body-post-layout {
  font-size: 2.5vmin;
  }
#post-sub-text{
    padding-bottom: 4em;
  }
  .contributor_picture{
    width: 100px;
  	height: 100px;

  }
  .post-author {
  font-family: 'Ubuntu Condensed', sans-serif;
  float: left;
  margin-right: 1em;
  color: #FFFFFF;
  padding-top: 15px;

  }
  .post-date-post-layout {
  font-family: 'Ubuntu Condensed', sans-serif;
  float: left;
  margin-right: 1em;
  color: #FFFFFF;
  padding-top: 15px;
  }
    #tag-container ul
  {
    
    font-size: 3.5vmin;

  }
  #tag-container li
  {
   padding-top: 0.1em;

  }


}

@media(min-width: $screen-md-min) {
     .post-title-post-layout
  {
   
   font-size: 10vmin;
  }
}