
.post-title
{
font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 32pt;
position: relative;
bottom: 25px;
text-align: left;
}
@media (min-width: 768px) {
  .post-title
  {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 32pt;
  position: relative;
  bottom: 25px;

  }
}
.post-title a:link
{
color: #3B4343 !important;
text-decoration: none;
}
.post-title a:visited
{
color: #3B4343 !important;
text-decoration: none;
}
.post-title a:hover
{
color: #1B1B1B !important;
text-decoration: none;
}
.post-body {
font-family: 'Droid Sans', sans-serif;
font-weight: 400 ;
font-size: 12pt ;
position: relative;
bottom: 25px;
}

.main-content-item
{
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
padding-top: 15px;
}
@media (min-width: 992px) {
.main-content-item
{
padding-top: 15px;
padding-bottom: 15px;
padding-right: 15px;
padding-left: 15px;
}
}
.main-image
{
overflow: hidden;
float: left;
}
.main-text
{
overflow: hiddden;
float: right;
text-align: justify;
}
@media (min-width: 992px) {
  .main-text
  {
  padding-left: 15px !important;
  }

}


.read-post-link {
font-family: 'Ubuntu Condensed', sans-serif;
float: left;
font-size : 25px;
position: relative;
bottom: 25px;
}
.post-date {
@extend .read-post-link;
color: #FFFFFF;
}
@media (min-width: 768px) {
  .post-date {
  float: left;
  }
  .read-post-link {
  float: right;
  }
}