#site-content-index-wrapper {
 display: flex;   
 flex-direction: column;
 max-height: 80vh; 

 flex-wrap: wrap;
}
.site-content-index {

    max-width: 33.33vw;
    background-color: #000000; 
  
    overflow: hidden;
}
.site-content-index-item-a {
   height:40vh;  
   border: 5px solid #FFFFFF;
 
}
.site-content-index-item-b {
height: 40vh;
border: 5px solid #FFFFFF;
}
.site-content-index-item-c {

 height:80vh; 
border: 5px solid #FFFFFF;
}
.site-content-index-item-d {
 
  height:40vh; 
border: 5px solid #FFFFFF;
}
.site-content-index-item-e {

   height:40vh; 
border: 5px solid #FFFFFF;}
