.left-section
{
background: url('/img/lot/px_by_Gre3g.png');
padding: 0px 0px 8px 0px;
}
@media (min-width: 768px) {
  .left-section
  {
  background: url('/img/lot/px_by_Gre3g.png');
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  }
}
@media (min-width: 992px) {
  .left-section
  {
  background: url('/img/lot/px_by_Gre3g.png');
  padding-left: 7em;
  padding-right: 7em;
  padding-top: 2em;
  padding-bottom: 2em;
  }
}