.child-sexual-abuse-description,
.child-sexual-abuse-definition,
.child-sexual-abuse-glyph {
  position: absolute;
}

.site-content-index-item-d {
  height: 30vh;
  background-color: #fb0404;
  @include animation(child-sexual-abuse-bg-change 3s linear 0s alternate infinite none running);
}

.child-sexual-abuse-glyph {
  color: #fb0404;
  @include glyph-common();
  @include animation(glyph-appear 3s linear 0s alternate infinite none running);
}

.child-sexual-abuse-definition {
  border: 0.2vmin solid #fb0404;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(child-sexual-abuse-definition-appear 3s linear 0s alternate infinite none running);
}

.child-sexual-abuse-description {
  border: 0.2vmin solid #fb0404;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(child-sexual-abuse-description-appear 3s linear 0s alternate infinite none running);
}

.child-sexual-abuse-description> a,
.child-sexual-abuse-definition> a,
.child-sexual-abuse-description> a:link,
.child-sexual-abuse-definition> a:link,
.child-sexual-abuse-description> a:visited,
.child-sexual-abuse-definition> a:visited,
.child-sexual-abuse-description> a:hover,
.child-sexual-abuse-definition> a:hover {
  text-decoration: none;
  color: #fb0404;
}

.site-content-index #child-sexual-abuse {
  position: absolute;
  top: 50%;
  left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
  color: #080000;
  font-family: 'Cutive Mono', monospace;
  font-weight: 700;
  font-size: 8vmin;
  @include animation(disappear 3s linear 0s alternate infinite none running);
}
@include keyframes(child-sexual-abuse-bg-change) {
  0%,
  25% {
    background-color: #fb0404;
  }
  50% {
    background-color: #080000;
  }
  100% {
    background-color: #080000;
  }
}

@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
    @include transform(translate3d(-50%, -50%, 0));
  }
  50% {
    opacity: 0;
@include transform(translate3d(15%, 15%, 0));
  }
  100% {
    opacity: 0;
    @include transform(translate3d(15%, 15%, 0));

  }
}
@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
        @include transform(translate3d(-50%, -50%, 0));

    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
 @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
}
@include keyframes(child-sexual-abuse-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
    border: 0.2vmin solid #323131;
    background-color: #323131;
     @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
    border: 0.2vmin solid #323131;
    background-color: #323131;
     @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(child-sexual-abuse-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
    border: 0.2vmin solid #323131;
    background-color: #323131;
     @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
       background-color: #323131;
       border: 0.2vmin solid #323131;
     @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
.child-sexual-abuse-definition:hover {
      background-color: #272323 !important;
      border-color: #272323 !important;
  }
    .child-sexual-abuse-description:hover {
      background-color: #272323 !important;
      border-color: #272323 !important;
  }
@media(min-width: $screen-md-min) {
  .child-sexual-abuse-glyph {
     opacity: 0;
      @include transition(all .3s linear); 
    @include animation(none);
  }
  .child-sexual-abuse-definition {
   @include transition(all .3s linear); 
    @include animation(none);
    font-size: 3vmin;
   
  }
  .child-sexual-abuse-description {
    @include transition(all .3s linear); 
    @include animation(none);
    font-size: 3vmin;

  }
  .site-content-index #child-sexual-abuse {
    @include transition(all .3s linear); 
    @include animation(none);
  }
  .site-content-index-item-d {
    height: 40vh;
    @include animation(none);
  }
  .site-content-index-item-d:hover #child-sexual-abuse {
     @include transform(translate3d(15%, 15%, 0));
    opacity: 0;
  }
  .site-content-index-item-d:hover {
    background-color: #080000;
  }
  .site-content-index-item-d:hover .child-sexual-abuse-glyph {
    top: 50%;
    left: 50%;
      @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  .site-content-index-item-d:hover .child-sexual-abuse-definition {
    top: 15%;
    border: 0.2vmin solid #323131;
     background-color: #323131;
       @include border-radius(0.2vw);
       padding: 0px 10px 0px 10px;
    opacity: 1;
  }
  .site-content-index-item-d:hover .child-sexual-abuse-description {
    bottom: 15%;
    border: 0.2vmin solid #323131;
     background-color: #323131;
    @include border-radius(0.2vw);
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
}