.general-lot-description,
.general-lot-definition,
.general-lot-glyph {
  position: absolute;
}

.site-content-index-item-f {
  height: 30vh;
   @include animation(general-lot-bg-change 3s linear 0s alternate infinite none running);
}
.site-content-index-item-f::before {
 @include south-bar-before();
}

.site-content-index-item-f::after {
@include south-bar-after(#42a5f5);
}

.site-content-index-item-f:hover::after {
@include south-bar-after-hover();

}
.general-lot-glyph {
  color: #0E80DF;
  @include glyph-common();
  @include animation(glyph-appear 3s linear 0s alternate infinite none running);
}

.general-lot-definition {
  border: 0.2vmin solid #0E80DF;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(general-lot-definition-appear 3s linear 0s alternate infinite none running);
}

.general-lot-description {
  border: 0.2vmin solid #0E80DF;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(general-lot-description-appear 3s linear 0s alternate infinite none running);
}

.general-lot-description> a,
.general-lot-definition> a,
.general-lot-description> a:link,
.general-lot-definition> a:link,
.general-lot-description> a:visited,
.general-lot-definition> a:visited,
.general-lot-description> a:hover,
.general-lot-definition> a:hover {
  text-decoration: none;
  color: #0E80DF;
}

.site-content-index-episode-02 #general-lot {
  position: absolute;
  top: 50%;
  left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
  color: #284660;
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 8vmin;
  text-shadow: 
   0 0.6vw 0 #1F99FF,
   0 0.5vw 0 #1F99FF,
  0 0.4vw 0  #1F99FF,
  0 0.3vw 0  #1F99FF,
   0 0.2vw 0  #1F99FF,
   0 0.1vw 0  #1F99FF,
   0 0 0  #1F99FF
  ;
 
  @include animation(disappear 3s linear 0s alternate infinite none running);
}
@include keyframes(general-lot-bg-change) {
  0%,
  25% {
    background-color: #0e556b;
  }
  50% {
    background-color: #284660;
  }
  100% {
    background-color: #284660;
  }
}
@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
    @include transform(translate3d(-50%, -50%, 0));
  }
  50% {
    opacity: 0;
     @include transform(translate3d(15%, 15%, 0));
  }
  100% {
    opacity: 0;
    @include transform(translate3d(15%, 15%, 0));
  }
}
@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
     @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
}
@include keyframes(general-lot-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
        border: 0.2vmin solid #32576f;
     background-color: #32576f;
       @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
        border: 0.2vmin solid #32576f;
     background-color: #32576f;
       @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(general-lot-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
        border: 0.2vmin solid #32576f;
     background-color: #32576f;
       @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
       border: 0.2vmin solid #32576f;
     background-color: #32576f;
       @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
.general-lot-definition:hover {
      background-color: #1c425b !important;
      border-color: #1c425b !important;
  }
    .general-lot-description:hover {
      background-color: #1c425b !important;
      border-color: #1c425b !important;
  }

@media(min-width: $screen-md-min) {
  .general-lot-glyph {
    opacity: 1;
    font-size: 0vmin;
    @include animation(none);
    @include transition(font-size 600ms cubic-bezier(.17,.71,.65,.95));
  }
  .general-lot-definition {
       @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));  
   font-size: 3vmin;
    @include animation(none);
  }
  .general-lot-description {
     @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));  
   font-size: 3vmin;
    @include animation(none);
  }
  .site-content-index-episode-02 #general-lot {
       @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));  
    @include animation(none);
  }
  .site-content-index-item-f {
    height: 40vh;
    @include animation(none);
  }
  .site-content-index-item-f:hover #general-lot {
      text-shadow: 0 0.1vw 0 #FFFFFF;
      opacity: 0;  
   
  
  }

  .site-content-index-item-f:hover .general-lot-glyph {
 @include gylph-transition-common;
  }
  .site-content-index-item-f:hover .general-lot-definition {
    top: 15%;
   @include definition-description-common( #32576f );
  }
  .site-content-index-item-f:hover .general-lot-description {
    bottom: 15%;
   @include definition-description-common( #32576f );
  }
}