@mixin theme-description-definition-common() {
  padding: 0px 0px 0px 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3vmax;
  
}

@mixin glyph-common() {
  font-size: 16vmin;
  left: -10%;
  top: -10%;
  opacity: 1;
}