.self-love-description,
.self-love-definition,
.self-love-glyph {
  position: absolute;
}

.site-content-index-item-a {
  height: 30vh; 
 //background-color: #056363;
 @include animation(self-love-bg-change 3s linear 0s alternate infinite none running);
}

.site-content-index-item-a::before {
 @include south-bar-before();
}

.site-content-index-item-a::after {
@include south-bar-after(#117864);
}

.site-content-index-item-a:hover::after {
@include south-bar-after-hover();

}

.self-love-glyph {
  color: #056363;
  @include glyph-common();
   @include transition(font-size 600ms cubic-bezier(.17,.71,.65,.95));
 // @include animation(glyph-appear 5s linear 0s alternate infinite none running);
}

.self-love-definition {
  border: 0.2vmin solid #056363;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(self-love-definition-appear 3s linear 0s alternate infinite none running);
}

.self-love-description {
  border: 0.2vmin solid #056363;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(self-love-description-appear 3s linear 0s alternate infinite none running);
}

.self-love-description> a,
.self-love-definition> a,
.self-love-description> a:link,
.self-love-definition> a:link,
.self-love-description> a:visited,
.self-love-definition> a:visited,
.self-love-description> a:hover,
{
  text-decoration: none;
  color: #056363;
}

.site-content-index #self-love {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
  color: #9EDCDC;
  font-family: 'Pattaya', cursive;
  font-weight: 400;
  font-size: 10vmin;
 text-shadow: 0.2vh 0.2vh 0px #049d9d,
 0.4vh 0.4vh 0px #049d9d,
 0.6vh 0.6vh 0px #049d9d,
 0.8vh 0.8vh 0px #049d9d,
 0.10vh 0.10vh 0px #049d9d,
 0.12vh 0.12vh 0px #049d9d,
 0.14vh 0.14vh 0px #049d9d,
 0.16vh 0.16vh 0px #049d9d;
 
  @include animation(disappear 3s linear 0s alternate infinite none running);
}
@include keyframes(self-love-bg-change) {
  0%,
  25% {
    background-color: #056363;
  }
  50% {
    background-color: #9EDCDC;
  }
  100% {
    background-color: #9EDCDC;
  }
}
@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
    @include transform(translate3d(-50%, -50%, 0));
  }
  50% {
    opacity: 0;
    @include transform(translate3d(15%, 15%, 0));
  }
  100% {
    opacity: 0;
    @include transform(translate3d(15%, 15%, 0));
  }
}

@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
}

@include keyframes(self-love-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
          border: 0.2vmin solid #239797; 
    @include border-radius(0.2vw);
    background-color: #239797;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
           border: 0.2vmin solid #239797; 
    @include border-radius(0.2vw);
    background-color: #239797;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(self-love-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
        border: 0.2vmin solid #239797; 
    @include border-radius(0.2vw);
    background-color: #239797;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    border: 0.2vmin solid #239797; 
    @include border-radius(0.2vw);
    background-color: #239797;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
.self-love-definition:hover {
      background-color: #00B2B2 !important;
      border-color: #00B2B2 !important;
  }
    .self-love-description:hover {
      background-color: #00B2B2 !important;
      border-color: #00B2B2 !important;
  }
@media(min-width: $screen-md-min) {
  .self-love-glyph {
    opacity: 1;
    font-size: 0vmin;
    @include animation(none);
    @include transition(font-size 600ms cubic-bezier(.17,.71,.65,.95));
     
  }
  .self-love-definition {
      @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
    font-size: 3vmin;
     @include animation(none);
  }
  .self-love-description {
      @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
    font-size: 3vmin;
     @include animation(none);
  }
  .site-content-index #self-love {
      @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
     @include animation(none);
  }
  .site-content-index-item-a {
    height: 40vh;
     @include animation(none);
  }
  .site-content-index-item-a:hover #self-love {
    text-shadow: 0px 1px 0px #aff9fb;
    opacity: 0;
  }
 
  .site-content-index-item-a:hover .self-love-glyph {
  @include gylph-transition-common;
  }
  
  .site-content-index-item-a:hover .self-love-definition {
    top: 15%;
    @include definition-description-common(#239797);
  }

 
  .site-content-index-item-a:hover .self-love-description {
    bottom: 15%;
    @include definition-description-common(#239797);
  }
   
}