.self-love-description, .self-love-definition, .self-love-glyph {
 position: absolute; 
}
.site-content-index-item-a {
height:30vh;  
background-color: #ff5733; 
@include animation(self-love-bg-change 5s ease-in-out 0s alternate infinite none running);
}
.self-love-glyph {
  color: #851902;
  @include glyph-common();
  @include animation(glyph-appear 5s ease-in-out 0s alternate infinite none running);
  }
.self-love-definition {
  border: 0.2vmin solid #851902;
  top: -10%;
@include theme-description-definition-common();
@include animation(self-love-definition-appear 5s ease-in-out 0s alternate infinite none running);
}
.self-love-description {
border: 0.2vmin solid #851902;
bottom: -10%;
@include theme-description-definition-common();
@include animation(self-love-description-appear 5s ease-in-out 0s alternate infinite none running);
}

.self-love-description > a, .self-love-definition > a, .self-love-description > a:link, .self-love-definition > a:link,.self-love-description > a:visited, .self-love-definition > a:visited,.self-love-description > a:hover,  {
text-decoration: none;
color: #851902;
}

.site-content-index #self-love {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 color: #de2b04;
 font-family: 'Oleo Script', cursive;
 font-weight: 400;
  font-size: 10vmin;  
  text-shadow: 0px 2px 1px  #101713;
  @include animation(disappear 5s ease-in-out 0s alternate infinite none running);
}
@keyframes self-love-bg-change {
 0%, 25% {
    background-color: #ff5733; 
  }
    50% {
  background-color: #000000;
  }
  100% {
  background-color: #000000;
  }
}
@keyframes disappear {
 0%,  25% {
     opacity: 1;
     transform: translate(-50%,-50%);
  }
 
  50% {
    opacity: 0;
    transform: translate(15%,15%);  
  }
  100% {
    opacity: 0;
    transform: translate(15%,15%);  
  }
}
@keyframes glyph-appear {
 0%, 25%{
     opacity: 0;
  }
   50% {
top: 50%;
left: 50%;
 transform: translate(-50%,-50%);  
opacity: 1; 
  }
  100% {
      top: 50%;
     left: 50%;
  transform: translate(-50%,-50%);  
opacity: 1;  
  }
}
@keyframes self-love-definition-appear {
 0%, 25% {
  opacity: 0;
  padding: 0px 0px 0px 0px;
  }
    50% {
top: 10%;
border: 0.2vmin solid #851902;
padding: 0px 20px 0px 20px;
opacity: 1; 
  }
  100% {
    top: 10%;
border: 0.2vmin solid #851902;
padding: 0px 20px 0px 20px;
opacity: 1; 
  }
}
@keyframes self-love-description-appear {
 0%, 25% {
     opacity: 0;
       padding: 0px 0px 0px 0px;
  }

    50% {
bottom: 10%;
border: 1px solid #851902;
padding: 0px 20px 0px 20px;
opacity: 1;
  }
  100% {
bottom: 10%;
border: 1px solid #851902;
padding: 0px 20px 0px 20px;
opacity: 1;
  }
}


@media(min-width: $screen-md-min) {

.self-love-glyph {
  font-size: 16vmin;
  color: #851902;
  left: -10%;
  top: -10%;
  opacity: 0;

 transition: all .7s ease-in-out;
 animation: none;
  }
.self-love-definition {
border: 0.2vmin solid #851902;
padding: 0px 0px 0px 0px;
left: 50%;
top: -10%;
transform: translateX(-50%);
opacity: 0;
transition: all .7s ease-in-out;
font-family: 'Alegreya Sans SC', sans-serif;
font-size: 2.6vmin;
 animation: none;
}
.self-love-description {
color: #851902;
left: 50%;
bottom: -10%;
transform: translateX(-50%);
opacity: 0;
transition: all .7s ease-in-out;
font-family: 'Alegreya Sans SC', sans-serif;
font-size: 2.6vmin;
 animation: none;
}
.self-love-description > a, .self-love-definition > a, .self-love-description > a:link, .self-love-definition > a:link,.self-love-description > a:visited, .self-love-definition > a:visited,.self-love-description > a:hover,  {
text-decoration: none;
color: #851902;
}
.site-content-index #self-love {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 color: #de2b04;
 font-family: 'Oleo Script', cursive;
 font-weight: 400;
  font-size: 10vmin;  
  text-shadow: 0px 2px 1px  #101713; 
 transition: all .7s ease-in-out;
  animation: none;
}
.site-content-index-item-a {
height:40vh;  
animation: none;
}
.site-content-index-item-a:hover #self-love{
     transform: translate(15%,15%);  
     opacity: 0;
   }
.site-content-index-item-a:hover {
  background-color: #000000;
}
.site-content-index-item-a:hover .self-love-glyph 
{
top: 50%;
left: 50%;
transform: translate(-50%,-50%);  
opacity: 1;
}
.site-content-index-item-a:hover .self-love-definition 
{
top: 15%;  
border: 0.2vmin solid #851902;
padding: 0px 10px 0px 10px;
opacity: 1; 
}
.site-content-index-item-a:hover .self-love-description
{
bottom: 15%; 
border: 1px solid #851902;
padding: 0px 10px 0px 10px;
opacity: 1; 
}

}



