.story-hour-description,
.story-hour-definition,
.story-hour-glyph {
  position: absolute;
}

.site-content-index-item-c {
  height: 30vh;
  background-color: #480828;
  @include animation(story-hour-bg-change 5s linear 0s alternate infinite none running);
}

.story-hour-glyph {
  font-size: 16vmin;
  color: #de029c;
  @include glyph-common();
  @include animation(glyph-appear 5s linear 0s alternate infinite none running);
}

.story-hour-definition {
  border: 0.2vmin solid #de029c;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(story-hour-definition-appear 5s linear 0s alternate infinite none running);
}

.story-hour-description {
  border: 0.2vmin solid #de029c;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(story-hour-description-appear 5s linear 0s alternate infinite none running);
}

.story-hour-description> a,
.story-hour-definition> a,
.story-hour-description> a:link,
.story-hour-definition> a:link,
.story-hour-description> a:visited,
.story-hour-definition> a:visited,
.story-hour-description> a:hover,
.story-hour-definition> a:hover {
  text-decoration: none;
  color: #de029c;
}

.site-content-index #story-hour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #923d67;
  font-family: 'Bungee Shade', cursive;
  font-weight: 400;
  font-size: 14vmin;
  transition: all .7s linear;
  @include animation(disappear 5s linear 0s alternate infinite none running);
}
@include keyframes(story-hour-bg-change) {
  0%,
  25% {
    background-color: #480828;
  }
  50% {
    background-color: #000000;
  }
  100% {
    background-color: #000000;
  }
}
@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0;
    transform: translate(15%, 15%);
  }
  100% {
    opacity: 0;
    transform: translate(15%, 15%);
  }
}
@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@include keyframes(story-hour-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
    border: 0.2vmin solid #de029c;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
    border: 0.2vmin solid #de029c;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(story-hour-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
    border: 1px solid #de029c;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    border: 1px solid #de029c;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}

@media(min-width: $screen-md-min) {
  .story-hour-glyph {
    left: -10%;
    top: -10%;
    opacity: 0;
    transition: all .7s linear;
    animation: none;
  }
  .story-hour-definition {
    transition: all .7s linear;
    font-size: 2.6vmin;
    animation: none;
  }
  .story-hour-description {
    transition: all .7s linear;
    font-size: 2.6vmin;
    animation: none;
  }
  .site-content-index #story-hour {
    animation: none;
  }
  .site-content-index-item-c {
    height: 80vh;
    background-color: #480828;
    animation: none;
  }
  .site-content-index-item-c:hover #story-hour {
    transform: translate(15%, 15%);
    opacity: 0;
  }
  .site-content-index-item-c:hover {
    background-color: #000000;
  }
  .site-content-index-item-c:hover .story-hour-glyph {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .site-content-index-item-c:hover .story-hour-definition {
    top: 30%;
    border: 0.2vmin solid #de029c;
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
  .site-content-index-item-c:hover .story-hour-description {
    bottom: 30%;
    border: 0.2vmin solid #de029c;
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
}