.story-hour-description,
.story-hour-definition,
.story-hour-glyph {
  position: absolute;
}

.site-content-index-item-c {
  height: 30vh;
  background-color: #C66604;
  @include animation(story-hour-bg-change 3s linear 0s alternate infinite none running);
}

.story-hour-glyph {
  color: #C66604;
  @include glyph-common();
  @include animation(glyph-appear 3s linear 0s alternate infinite none running);
}

.story-hour-definition {
  border: 0.2vmin solid #C66604;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(story-hour-definition-appear 3s linear 0s alternate infinite none running);
}

.story-hour-description {
  border: 0.2vmin solid #C66604;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(story-hour-description-appear 3s linear 0s alternate infinite none running);
}

.story-hour-description> a,
.story-hour-definition> a,
.story-hour-description> a:link,
.story-hour-definition> a:link,
.story-hour-description> a:visited,
.story-hour-definition> a:visited,
.story-hour-description> a:hover,
.story-hour-definition> a:hover {
  text-decoration: none;
  color: #C66604;
}

.site-content-index #story-hour {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
  color: #FF8D18;
  font-family: 'Bungee Shade', cursive;
  font-weight: 400;
  font-size: 14vmin;
  @include animation(disappear 3s linear 0s alternate infinite none running);
}
@include keyframes(story-hour-bg-change) {
  0%,
  25% {
    background-color: #C66604;
  }
  50% {
    background-color: #FF8D18;
  }
  100% {
    background-color: #FF8D18;
  }
}
@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
     @include transform(translate3d(-50%, -50%, 0));
  }
  50% {
    opacity: 0;
     @include transform(translate3d(15%, 15%, 0));
  }
  100% {
    opacity: 0;
     @include transform(translate3d(15%, 15%, 0));
  }
}
@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
}
@include keyframes(story-hour-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
    border: 0.2vmin solid #fad464;
    background-color: #fad464;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
    border: 0.2vmin solid #fad464;
    background-color: #fad464;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(story-hour-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
    border: 1px solid #fad464;
    background-color: #fad464;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    border: 1px solid #fad464;
    background-color: #fad464;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
.story-hour-definition:hover {
      background-color: #fea548 !important;
      border-color: #fea548 !important;
  }
    .story-hour-description:hover {
      background-color: #fea548 !important;
      border-color: #fea548 !important;
  }
@media(min-width: $screen-md-min) {
  .story-hour-glyph {
    opacity: 0;
     @include transition(all .3s linear); 
    @include animation(none);
  }
  .story-hour-definition {
    @include transition(all .3s linear);      @include animation(none);
    font-size: 3vmin;
    
  }
  .story-hour-description {
    @include transition(all .3s linear);      @include animation(none);
   font-size: 3vmin;
    
  }
  .site-content-index #story-hour {
       @include transition(all .3s linear); 
   @include animation(none);
  }
  .site-content-index-item-c {
    height: 80vh;
    @include animation(none);
    
  }
  .site-content-index-item-c:hover #story-hour {
 @include transform(translate3d(-50%, -50%, 0));
    opacity: 0;
  }
  .site-content-index-item-c:hover {
    background-color: #FF8D18;
  }
  .site-content-index-item-c:hover .story-hour-glyph {
    top: 50%;
    left: 50%;
     @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  .site-content-index-item-c:hover .story-hour-definition {
    top: 30%;
    border: 0.2vmin solid #fad464;
    background-color: #fad464;
    @include border-radius(0.2vw);
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
  .site-content-index-item-c:hover .story-hour-description {
    bottom: 30%;
    border: 0.2vmin solid #fad464;
    background-color: #fad464;
      @include border-radius(0.2vw);
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
}