.twisted-pov-description,
.twisted-pov-definition,
.twisted-pov-glyph {
  position: absolute;
}

.site-content-index-item-e {
  height: 30vh;
  background-color: #02b04c;
  @include animation(twisted-pov-bg-change 5s ease-in-out 0s alternate infinite none running);
}

.twisted-pov-glyph {
  font-size: 16vmin;
  color: #02A547;
  @include glyph-common();
  @include animation(glyph-appear 5s ease-in-out 0s alternate infinite none running);
}

.twisted-pov-definition {
  border: 0.2vmin solid #02A547;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(twisted-pov-definition-appear 5s ease-in-out 0s alternate infinite none running);
}

.twisted-pov-description {
  border: 0.2vmin solid #02A547;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(twisted-pov-description-appear 5s ease-in-out 0s alternate infinite none running);
}

.twisted-pov-description> a,
.twisted-pov-definition> a,
.twisted-pov-description> a:link,
.twisted-pov-definition> a:link,
.twisted-pov-description> a:visited,
.twisted-pov-definition> a:visited,
.twisted-pov-description> a:hover,
.twisted-pov-definition> a:hover {
  text-decoration: none;
  color: #02A547;
}

.site-content-index #twisted-pov {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Henny Penny', cursive;
  font-weight: 400;
  font-size: 10vmin;
      text-shadow: 3px 3px 3px  #101713;
  transition: all .7s ease-in-out;
  @include animation(disappear 5s ease-in-out 0s alternate infinite none running);
}

@keyframes twisted-pov-bg-change {
  0%,
  25% {
    background-color: #02b04c;
  }
  50% {
    background-color: #000000;
  }
  100% {
    background-color: #000000;
  }
}

@keyframes disappear {
  0%,
  25% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0;
    transform: translate(15%, 15%);
  }
  100% {
    opacity: 0;
    transform: translate(15%, 15%);
  }
}

@keyframes glyph-appear {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes twisted-pov-definition-appear {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
    border: 0.2vmin solid #02A547;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
    border: 0.2vmin solid #02A547;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}

@keyframes twisted-pov-description-appear {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
    border: 1px solid #ecc4e0;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
    border: 1px solid #ecc4e0;
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}

@media(min-width: $screen-md-min) {
  .twisted-pov-glyph {
    left: -10%;
    top: -10%;
    opacity: 0;
    transition: all .7s ease-in-out;
    animation: none;
  }
  .twisted-pov-definition {
    transition: all .7s ease-in-out;
    font-size: 2.6vmin;
    animation: none;
  }
  .twisted-pov-description {
    transition: all .7s ease-in-out;
    font-size: 2.6vmin;
    animation: none;
  }
  .site-content-index #twisted-pov {
    animation: none;
  }
  .site-content-index-item-e {
    height: 40vh;
    background-color: #02b04c;
    animation: none;
  }
  .site-content-index-item-e:hover #twisted-pov {
    transform: translate(15%, 15%);
    opacity: 0;
  }
  .site-content-index-item-e:hover {
    background-color: #000000;
  }
  .site-content-index-item-e:hover .twisted-pov-glyph {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .site-content-index-item-e:hover .twisted-pov-definition {
    top: 15%;
    border: 0.2vmin solid #02A547;
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
  .site-content-index-item-e:hover .twisted-pov-description {
    bottom: 15%;
    border: 0.2vmin solid #02A547;
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
}