.twisted-pov-description,
.twisted-pov-definition,
.twisted-pov-glyph {
  position: absolute;
}

.site-content-index-item-e {
  height: 30vh;
  @include animation(twisted-pov-bg-change 3s linear 0s alternate infinite none running);
}
.site-content-index-item-e::before {
 @include south-bar-before();
}

.site-content-index-item-e::after {
@include south-bar-after( #388e3c);
}

.site-content-index-item-e:hover::after {
@include south-bar-after-hover();
}
.twisted-pov-glyph {
  color:   #69f0ae ;
  @include glyph-common();
  @include animation(glyph-appear 3s linear 0s alternate infinite none running);
}

.twisted-pov-definition {
  border: 0.2vmin solid #222d24;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(twisted-pov-definition-appear 3s linear 0s alternate infinite none running);
}

.twisted-pov-description {
  border: 0.2vmin solid #222d24;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(twisted-pov-description-appear 3s linear 0s alternate infinite none running);
}

.twisted-pov-description> a,
.twisted-pov-definition> a,
.twisted-pov-description> a:link,
.twisted-pov-definition> a:link,
.twisted-pov-description> a:visited,
.twisted-pov-definition> a:visited,
.twisted-pov-description> a:hover,
.twisted-pov-definition> a:hover {
  text-decoration: none;
  color: #222d24;
}

.site-content-index #twisted-pov {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate3d(-50%, -50%, 0));
  color: #a5d6a7;
  font-family: 'Henny Penny', cursive;
  font-weight: 400;
  font-size: 10vmin;
  text-shadow: 0.2vmin 0.2vmin 0.2vmin  #81c784;
  @include animation(disappear 3s linear 0s alternate infinite none running);
}
@include keyframes(twisted-pov-bg-change) {
  0%,
  25% {
    background-color: #02b04c;
  }
  50% {
    background-color: #D2F917;
  }
  100% {
    background-color: #D2F917;
  }
}

@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
 @include transform(translate3d(-50%, -50%, 0));
  }
  50% {
    opacity: 0;
  @include transform(translate3d(15%, 15%, 0));
  }
  100% {
    opacity: 0;
 @include transform(translate3d(15%, 15%, 0));
  }
}

@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
@include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
@include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
}
@include keyframes(twisted-pov-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
 border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
    border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(twisted-pov-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
 border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
  border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
.twisted-pov-definition:hover {
      background-color: #24d945 !important;
      border-color: #24d945 !important;
  }
    .twisted-pov-description:hover {
      background-color: #24d945 !important;
      border-color: #24d945 !important;
  }

@media(min-width: $screen-md-min) {
  .twisted-pov-glyph {
     opacity: 1;
    font-size: 0vmin;
    @include animation(none);
    @include transition(font-size 600ms cubic-bezier(.17,.71,.65,.95));
  }
  .twisted-pov-definition {
       @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
    font-size: 3vmin;
     @include animation(none);
  }
  .twisted-pov-description {
     @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
    font-size: 3vmin;
     @include animation(none);
  }
  .site-content-index #twisted-pov {
    @include transition(all 600ms cubic-bezier(.17,.71,.65,.95));
    @include animation(none);
  }
  .site-content-index-item-e {
    height: 40vh;
      @include animation(none);
   
  }
  .site-content-index-item-e:hover #twisted-pov {
    opacity: 0;
  }
  .site-content-index-item-e:hover .twisted-pov-glyph {
    @include gylph-transition-common;
  }
  .site-content-index-item-e:hover .twisted-pov-definition {
    top: 15%;
      @include definition-description-common( #66db7b );
  }
  .site-content-index-item-e:hover .twisted-pov-description {
    bottom: 15%;
         @include definition-description-common( #66db7b );
  }
}