.twisted-pov-description,
.twisted-pov-definition,
.twisted-pov-glyph {
  position: absolute;
}

.site-content-index-item-e {
  height: 30vh;
  background-color: #02b04c;
  @include animation(twisted-pov-bg-change 3s linear 0s alternate infinite none running);
}

.twisted-pov-glyph {
  color: #222d24;
  @include glyph-common();
  @include animation(glyph-appear 3s linear 0s alternate infinite none running);
}

.twisted-pov-definition {
  border: 0.2vmin solid #222d24;
  top: -10%;
  @include theme-description-definition-common();
  @include animation(twisted-pov-definition-appear 3s linear 0s alternate infinite none running);
}

.twisted-pov-description {
  border: 0.2vmin solid #222d24;
  bottom: -10%;
  @include theme-description-definition-common();
  @include animation(twisted-pov-description-appear 3s linear 0s alternate infinite none running);
}

.twisted-pov-description> a,
.twisted-pov-definition> a,
.twisted-pov-description> a:link,
.twisted-pov-definition> a:link,
.twisted-pov-description> a:visited,
.twisted-pov-definition> a:visited,
.twisted-pov-description> a:hover,
.twisted-pov-definition> a:hover {
  text-decoration: none;
  color: #222d24;
}

.site-content-index #twisted-pov {
  position: absolute;
  top: 50%;
  left: 50%;
@include transform(translate3d(-50%, -50%, 0));
  font-family: 'Henny Penny', cursive;
  font-weight: 400;
  font-size: 10vmin;
      text-shadow: 3px 3px 3px  #101713;
  @include animation(disappear 3s linear 0s alternate infinite none running);
}
@include keyframes(twisted-pov-bg-change) {
  0%,
  25% {
    background-color: #02b04c;
  }
  50% {
    background-color: #D2F917;
  }
  100% {
    background-color: #D2F917;
  }
}

@include keyframes(disappear) {
  0%,
  25% {
    opacity: 1;
 @include transform(translate3d(-50%, -50%, 0));
  }
  50% {
    opacity: 0;
  @include transform(translate3d(15%, 15%, 0));
  }
  100% {
    opacity: 0;
 @include transform(translate3d(15%, 15%, 0));
  }
}

@include keyframes(glyph-appear) {
  0%,
  25% {
    opacity: 0;
  }
  50% {
    top: 50%;
    left: 50%;
@include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
@include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
}
@include keyframes(twisted-pov-definition-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    top: 10%;
 border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    top: 10%;
    border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
@include keyframes(twisted-pov-description-appear) {
  0%,
  25% {
    opacity: 0;
    padding: 0px 0px 0px 0px;
  }
  50% {
    bottom: 10%;
 border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
  100% {
    bottom: 10%;
  border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 20px 0px 20px;
    opacity: 1;
  }
}
.twisted-pov-definition:hover {
      background-color: #24d945 !important;
      border-color: #24d945 !important;
  }
    .twisted-pov-description:hover {
      background-color: #24d945 !important;
      border-color: #24d945 !important;
  }

@media(min-width: $screen-md-min) {
  .twisted-pov-glyph {
     opacity: 0;
      @include transition(all .3s linear); 
    @include animation(none);
  }
  .twisted-pov-definition {
    @include transition(all .3s linear); 
    font-size: 3vmin;
     @include animation(none);
  }
  .twisted-pov-description {
    @include transition(all .3s linear); 
    font-size: 3vmin;
     @include animation(none);
  }
  .site-content-index #twisted-pov {
    @include transition(all .3s linear); 
    @include animation(none);
  }
  .site-content-index-item-e {
    height: 40vh;
      @include animation(none);
   
  }
  .site-content-index-item-e:hover #twisted-pov {
 @include transform(translate3d(-50%, -50%, 0));
    opacity: 0;
  }
  .site-content-index-item-e:hover {
    background-color: #D2F917;
  }
  .site-content-index-item-e:hover .twisted-pov-glyph {
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    opacity: 1;
  }
  .site-content-index-item-e:hover .twisted-pov-definition {
    top: 15%;
    border: 0.2vmin solid #66db7b;
      background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
  .site-content-index-item-e:hover .twisted-pov-description {
    bottom: 15%;
    border: 0.2vmin solid #66db7b;
     background-color: #66db7b;
    @include border-radius(0.2vw);
    padding: 0px 10px 0px 10px;
    opacity: 1;
  }
}